.homepage {
  min-height: 100vh;
}

/* Hero Section */
.hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), 
              url(../assets/homepage_back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  .h3-subtext {
    font-family: 'Montserat';
    text-transform: uppercase;
    color: var(--color-green);
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

.hero-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  justify-content: left;
  text-align: left;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  max-width: 1000px;
  text-transform: uppercase;
}


/* Container */
.container {
  background-color: var(--bg-light-gradient-blue);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Services Section */
.services-section {
  padding: 7rem 0;
  background-color: white
}

.services-section h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--color-blue);
  font-weight: bold;
}

.services-intro {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  margin: 0 auto 2rem;
  line-height: 1.6;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin-top: 3rem;
}

.service-card {
  background: white;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.service-card h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

.service-card p {
  margin-bottom: 1rem;
  color: #666;
  line-height: 1.6;
}

.service-card ul {
  text-align: left;
  margin-bottom: 1.5rem;
}

.service-card li {
  margin-bottom: 0.5rem;
  color: #666;
}

.service-button {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.service-button:hover {
  filter: brightness(1.01);
  transform: translateY(-1px); 
}

/* Consistent Trader Section */
.consistent-trader {
  padding: 7rem 0;
  background-color: white;
}

.consistent-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;

  .cta-container {
    width: 100%;
    text-align: left;
  }
}

.consistent-text h2 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  color: var(--color-blue);
}
.consistent-text p {
  margin-top: 2rem;
}

.consistent-text p:nth-of-type(2) {
  margin-bottom: 3rem;
}


.consistent-image {
  background-image:  url(../assets/monitor_w_back_home.png);
  display: flex;
  justify-content: center;
  min-height: 434px;
  background-size: cover;
}

/* Founder Section */
.founder-section {
  background-color: var(--color-light-gray);
  padding: 5rem 0;
}

.founder-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #333;
}

.founder-content {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  gap: 2rem;
  align-items: start;
}

.founder-text p {
  margin-bottom: 1.5rem;
  color: black;
  line-height: 1.6;
}

.founder-text a:hover {
  text-decoration: underline;
}

.founder-video {
  display: flex;
  justify-content: center;
}

.video-placeholder {
  width: 300px;
  height: 200px;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-button {
  color: white;
  font-size: 3rem;
}

/* Trusted Resources */
.trusted-resources {
  padding: 4rem 0;
  background: linear-gradient(10deg, #1A00C9, #0D0063);
  text-align: center;
}

.trusted-resources h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: white;
  text-transform: uppercase;
}

.resources-logos {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.resource-logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 3rem;
  border: 2px solid #ffffff4d;
  border-radius: 20px;
  color: white;
}


/* services */
.services-description {
  padding: 4rem 0;
  background: linear-gradient(173deg, #1A00C9, #0D0063);
  text-align: center;
}

.services-description h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
  margin-bottom: 2rem;
}

.subscriptions {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: 2rem;
  padding: 1rem 5rem;
  margin: 0 auto;
}

.subscription {
  min-width: 250px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1rem;
  color: #333;
  line-height: 1.5;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.subscription .desc {
  font-size: 1rem;
  text-transform: none;
  font-style: normal;
}

.subscription .icon-course {
  background-image: url(../assets/course.svg);
  background-size: cover;
  min-width: 35px;
  min-height: 35px;
}

.subscription .icon-software {
  background-image: url(../assets/software.svg);
  background-size: cover;
  min-width: 35px;
  min-height: 35px;
}

.subscription .icon-trading {
  background-image: url(../assets/trading_room.svg);
  background-size: cover;
  min-width: 36px;
  min-height: 35px;
}

.subscription .icon-support {
  background-image: url(../assets/support.svg);
  background-size: cover;
  min-width: 35px;
  min-height: 35px;
}

.subscription-title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  color: var(--color-gray);
  margin: 1rem;
}


/* Responsive Design */
@media (max-width: 768px) {
  .hero-content {
    text-align: center;
    width: 100%;
    padding: 0 50px;

    .h3-subtext {
      font-size: 1.3rem;
      margin: 1rem 0;
    }
  }
  
  .hero-content h1 {
    font-size: 1.8rem;
  }

  .services-intro {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
  
  .consistent-content,
  .founder-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  
  .resources-logos {
    gap: 1rem;
  }
  
  .container {
    padding: 0 1rem;
  }

  .services-description {
    padding: 2rem 3rem;
  }

  .subscriptions {
    flex-direction: column;
    padding: 0;
  }
}