.footer {
  background-color: var(--bg-color-light-gray);
  color: var(--color-gray);
  padding: 3rem 0 1rem;
  margin-top: auto;
}

.footer .logo {
  min-width: 200px;
  min-height: 200px;
  background: no-repeat url("../../assets/logo_header_pink.svg");
  background-size: contain;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 4rem;
}

.footer-sections {
  display: flex;
  gap: 4rem;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--color-blue);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: var(--color-gray);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-disclaimer {
  border-top: 1px solid #444;
  margin-top: 2rem;
  padding-top: 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-disclaimer p {
  font-size: 0.8rem;
  line-height: 1.4;
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .footer-sections {
    gap: 2rem;
  }
  
  .footer-disclaimer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}